*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-size: 30px;
   font-family: Arial;
}
body{
   background-color: #ffffff;
}
.calc{
   width: 400px;
   margin: 100px auto;
}
.display{
   color: #070707;
   text-align: right;
   font-size: 60px;
   padding: 20px;
}
.keypad{

}
.keypad-table{

}
.keypad-table tr:first-child .key{
   background-color: #9a6666;
   border-radius: 50%;
   background: #b59595;
   box-shadow:  15px 10px 30px #7a7777,
                -15px -15px 28px #ffffff;
}
.keypad-table tr:first-child .key:active{
   background-color: #b9b1b190;
   
}
.keypad-table tr td:last-child .key{
   background-color: #fcd0ab;
   border-radius: 50%;
   background: #f7f5f5;
   box-shadow:  15px 15px 28px #817e7e,
                -15px -15px 28px #ffffff;
}
.keypad-table tr td:last-child .key:active{
   background-color: #ffa45ccc;
}
.key{
   width: 90px;
   height: 90px;
   text-align: center;
   line-height: 90px;
   border-radius: 90px;
   margin: 5px;
   color: #e5e21b;
   cursor: pointer;
   user-select: none;
   border-radius: 50%;
   background: #7e7474;
   box-shadow:  15px 15px 28px #8f8585,
                -15px -15px 28px #ffffff;
}
.key:active{
   background-color: #33333390;
}
